---
example: "<svg class='icon-config'>\n<use xlink:href='static/sprite.symbol.svg#icon-config' />\n</svg>"
notes: "<p>The `svg icons sprite` is used through an svg markup with css classes. Every icon can be changed with css in many ways as needed:</p><p>The more common css properties for modification of colors & borders are:</p><ul><li><code>fill</code>: <span>defines the color of the shape inside its outline. For example <code>fill: '#3333ff';</code></span></li><li><code>stroke</code>: <span>defines the outline of the shape. For example <code>stroke: '#00ff00';</code></span></li></ul><p>There are many properties for svg manipulation; <code>fill</code> & <code>stroke</code> has many 'sub-properties' to explore, so it's important to have <a href='http://tutorials.jenkov.com/svg/index.html'>a good reference</a> of that.</p><p>For changes related to the size, <code>width</code> & <code>height</code> css properties are enough.</p>"
---

<div class="f-item-code">
    <p>Code example</p>
    <pre><code class="language-markup">{{example}}</code></pre>
</div>
<div class="row">
    <div class="icon-view m-a-2">
        <svg class="icon-account icon-view_reverse">
            <use xlink:href="static/sprite.symbol.svg#icon-account" />
        </svg>
        <code>icon-account</code>
    </div>
    <div class="icon-view m-a-2">
        <svg class="icon-alert">
            <use xlink:href="static/sprite.symbol.svg#icon-alert" />
        </svg>
        <code>.icon-alert</code>
    </div>
    <div class="icon-view m-a-2">
        <svg class="icon-apps">
            <use xlink:href="static/sprite.symbol.svg#icon-apps" />
        </svg>
        <code>.icon-apps</code>
    </div>
    <div class="icon-view m-a-2">
        <svg class="icon-arrow-left">
            <use xlink:href="static/sprite.symbol.svg#icon-arrow-left" />
        </svg>
        <code>.icon-arrow-left</code>
    </div>
    <div class="icon-view m-a-2">
        <svg class="icon-arrow-right">
            <use xlink:href="static/sprite.symbol.svg#icon-arrow-right" />
        </svg>
        <code>.icon-arrow-right</code>
    </div>
    <div class="icon-view m-a-2">
        <svg class="icon-call">
            <use xlink:href="static/sprite.symbol.svg#icon-call" />
        </svg>
        <code>.icon-call</code>
    </div>
    <div class="icon-view m-a-2">
        <svg class="icon-close">
            <use xlink:href="static/sprite.symbol.svg#icon-close" />
        </svg>
        <code>.icon-close</code>
    </div>
    <div class="icon-view m-a-2">
        <svg class="icon-close-rounded icon-view_reverse">
            <use xlink:href="static/sprite.symbol.svg#icon-close-rounded" />
        </svg>
        <code>.icon-close-rounded</code>
    </div>
    <div class="icon-view m-a-2">
        <svg class="icon-config">
            <use xlink:href="static/sprite.symbol.svg#icon-config" />
        </svg>
        <code>.icon-config</code>
    </div>
    <div class="icon-view m-a-2">
        <svg class="icon-edit">
            <use xlink:href="static/sprite.symbol.svg#icon-edit" />
        </svg>
        <code>.icon-edit</code>
    </div>
    <div class="icon-view m-a-2">
        <svg class="icon-help">
            <use xlink:href="static/sprite.symbol.svg#icon-help" />
        </svg>
        <code>.icon-help</code>
    </div>
    <div class="icon-view m-a-2">
        <svg class="icon-home">
            <use xlink:href="static/sprite.symbol.svg#icon-home" />
        </svg>
        <code>.icon-home</code>
    </div>
    <div class="icon-view m-a-2">
        <svg class="icon-important-alert icon-view_reverse">
            <use xlink:href="static/sprite.symbol.svg#icon-important-alert" />
        </svg>
        <code>.icon-important-alert</code>
    </div>
    <div class="icon-view m-a-2">
        <svg class="icon-logout">
            <use xlink:href="static/sprite.symbol.svg#icon-logout" />
        </svg>
        <code>.icon-logout</code>
    </div>
    <div class="icon-view m-a-2">
        <svg class="icon-mail">
            <use xlink:href="static/sprite.symbol.svg#icon-mail" />
        </svg>
        <code>.icon-mail</code>
    </div>
    <div class="icon-view m-a-2">
        <svg class="icon-search">
            <use xlink:href="static/sprite.symbol.svg#icon-search" />
        </svg>
        <code>.icon-search</code>
    </div>
    <div class="icon-view m-a-2">
        <svg class="icon-star">
            <use xlink:href="static/sprite.symbol.svg#icon-star" />
        </svg>
        <code>.icon-star</code>
    </div>
    <div class="icon-view m-a-2">
        <svg class="icon-trash">
            <use xlink:href="static/sprite.symbol.svg#icon-trash" />
        </svg>
        <code>.icon-trash</code>
    </div>
    <div class="icon-view m-a-2">
        <svg class="logo-mambo">
            <use xlink:href="static/sprite.symbol.svg#logo-mambo" />
        </svg>
        <code>.logo-mambo</code>
    </div>
    <div class="icon-view m-a-2">
        <svg class="logo-mambo_home">
            <use xlink:href="static/sprite.symbol.svg#logo-mambo_home" />
        </svg>
        <code>.logo-mambo_home</code>
    </div>
</div>
