---
notes: |
    <p>The `radio-button` component with the <code>:disabled</code> property, appears with disabled style. Also, for error status in red.</p>
    <div class="m-b-3">
        <p class="m-b-1">
            <code>.ui-radio_error</code>: <span>highlights an error showing the label and radio in red.</span><br />
            With the <code>:disabled</code> property, the radio element appears with disabled style.
        </p>
    </div>
---

<div class="row">
    <!-- default radio-button -->
    <div class="ui-radio m-l-3">
        <input id="radio1" class="ui-radio-input" type="radio" name="radioGroupName" checked />
        <label for="radio1" class="ui-radio-label"></label>
        <span class="ui-radio-text">Default radio-button</span>
    </div>
    <!-- radio-button disabled -->
    <div class="ui-radio m-l-3">
        <input id="radio2" class="ui-radio-input" type="radio" name="radioGroupName" disabled />
        <label for="radio2" class="ui-radio-label"></label>
        <span class="ui-radio-text">Disabled radio-button</span>
    </div>
    <!-- radio-button error -->
    <div class="ui-radio ui-radio_error m-l-3">
        <input id="radio3" class="ui-radio-input" type="radio" name="radioGroupName" />
        <label for="radio3" class="ui-radio-label"></label>
        <span class="ui-radio-text">radio-button error</span>
    </div>
</div>
