/**
 * Fabricator styles
 * @author Luke Askew
 * Class selectors are namespaced with "f-"
 */

$settings: (
	theme: light,
	accent: hsl(0, 0%, 46%),
	menu-width: 14rem
);

@import 'partials/variables';
@import 'partials/code';
@import 'partials/color-chips';
@import 'partials/controls';
@import 'partials/item';
@import 'partials/layout';
@import 'partials/menu';
@import 'partials/logo';

//# General overrides
.f-item-preview {
    @include clearfix;

    & .container.btn_preview .btn {
        margin: 1rem;
    }
}

//# Sections
// Layout -> Grid
.grid_system {
    & .row {
        margin-bottom: 1rem;

        & .row {
            margin-top: 1rem;
            margin-bottom: 0;
        }
    }

    & [class*="col-"] {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: rgba(86,61,124,.15);
        border: 1px solid rgba(86,61,124,.2);
    }

    & hr {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}
