//# Alert mixins
// ui-alert rules for extra-small devices
@mixin xs-devices-rules() {
    .ui-alert-icon.ui-alert-icon_show {
        margin-left: -1.3rem;
    }
    .ui-alert-interaction {
        padding: 0;
    }
    .ui-alert-user-action .btn {
        padding: 0.22rem 1rem;
    }
}

//# Alert styles
.ui-alert {
    &.ui-alert-read,
    &.ui-alert-read .ui-alert-header {
        color: $color-grey-dark-2;
    }
    
    & .row {
        justify-content: center;
    }

    & .ui-alert-header {
        position: relative;
        color: $color-dark;

        & > .ui-alert-icon {
            display: none;
            fill: $color-orange;
            height: 1.313rem;
            margin-left: -2rem;
            position: absolute;
            top: 0;
            width: 1.313rem;

            &.ui-alert-icon_show {
                display: inline-block;
            }
        }

        & .ui-alert-title {
            font-size: px2rem(14px);
            margin: 0 0 0.2rem 0;
        }
    }

    & .ui-alert-time {
        font-size: px2rem(12px); 
        font-style: italic;
        margin: 0 0 0.2rem 0;
    }

    & .ui-alert-text {
        font-size: px2rem(13px);
        height: 2.2rem;
        max-height: 5rem;
        margin: 0 0 0.2rem 0;
        overflow: hidden;

        &.ui-alert-text_show {
            height: auto;
        }
    }

    & .ui-alert-interaction {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 1rem 0 1rem;

        & .ui-alert-status-text {
            align-self: flex-end;
            color: $color-grey-dark-2;
            font-size: 0.6875rem;
            padding: 0.2rem 0;
            visibility: hidden;

            &.ui-alert-status-text_show {
                visibility: visible;
            }
        }

        & .ui-alert-user-action {
            align-self: flex-end;
        }
    }

    & .ui-alert-hidden-text-btn {
        display: none;

        &.ui-alert-hidden-text-btn_show {
            display: inline-block;
        }
    }

    // Media queries rules
    @include media-breakpoint-down(xs) {
        @include xs-devices-rules;
    }
    @include media-breakpoint-down(sm) {
        .row [class*='col-'] {
            @include no-padding('all');
        }
    }

    // Media queries rules as classes
    &.ui-alert-xs {
        .row [class*='col-'] {
            @include no-padding('all');
        }
        @include xs-devices-rules;
    }

    &.ui-alert-sm {
        .row [class*='col-'] {
            @include no-padding('all');
        }
    }
}