@font-face {
  font-family: 'Asap';
  src: url( $assets-path + '/fonts/Asap-Regular.eot?#iefix') format('embedded-opentype'),  
       url( $assets-path + '/fonts/Asap-Regular.woff') format('woff'), 
       url( $assets-path + '/fonts/Asap-Regular.ttf') format('truetype'), 
       url( $assets-path + '/fonts/Asap-Regular.svg#Asap-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}