//# Alert mixins
// ui-header rules for small devices
@mixin sm-devices-rules() {
    .row [class*='col-'] {
        @include no-padding('all');
    }
    .ui-header-main {
        padding-right: 9%;
    }
    .ui-header-global {
        @include no-padding('all');
    }
}

// ui-header rules for extra small devices
@mixin xs-devices-rules {
    .ui-header-global {
        border: 0px;
    }
}

//# Header styles
.ui-header {
    & svg[class*="icon-"] {
        fill: $color-light;

        @include hover {
            cursor: pointer;
            opacity: 1;
        }
    }

    & .ui-header-notification {
        background-color: $color-light;
        display: none;
        height: px2rem(19px);
        left: px2rem(-4px);
        position: relative;
        top: px2rem(-7px);
        width: px2rem(19px);
        @include border-radius();

        &.ui-header-notification_active {
            @include display-centered-content();
            margin-right: px2rem(-19px);
        }

        & .ui-header-notification-number {
            color: $color-gold;
            font-size: px2rem(13px);
            font-weight: bold;
        }
    }

    &.ui-header-global-section .ui-header-main {
        border-bottom: 0.2rem $color-dark solid;
    }
    .ui-header-main {
        align-items: center;
        background-color: $color-orange;
        display: flex;
        height: 4.0625rem;
        justify-content: space-between;
        padding: 0 5% 0 10%;

        & .ui-header-brand {
            line-height: 0;
            margin: 0;

            & .logo-mambo_home {
                fill: $color-light;
            }
            & .ui-header-brand-name {
                color: $color-light;
                display: none;
                width: 5rem;
            }
        }
        & .ui-header-local {
            display: flex;

            & [class*="icon-"] {
                fill: $color-dark;

                @include hover {
                    fill: $color-light;
                }
            }
        }
    }

    &.ui-header-global-section .ui-header-global {
        border-bottom: none;
    }
    .ui-header-global {
        align-items: center;
        background-color: $color-dark;
        border-bottom: 0.2rem $color-orange solid;
        display: flex;
        height: 4.0625rem;
        justify-content: space-around;
        padding: 0 25% 0 5%;

        & .ui-header-user-initials {
            fill: $color-grey-light;
            font-size: 0.7rem;
            stroke-width: 0.5;
            letter-spacing: 0.5px;
        }

        & .icon-account {
            stroke-width: 0.13rem;

            @include hover {
                fill: none!important;
            }
        }

        & .ui-header-apps {
            display: flex;
                & .ui-header-notification {
                background-color: $color-red;
                left: px2rem(-2px);

                & .ui-header-notification-number {
                    color: $color-light;
                }
            }
        }
    }
    // Media queries rules
    @include media-breakpoint-down(sm) {
        @include sm-devices-rules;
    }

    @include media-breakpoint-down(xs) {
        @include xs-devices-rules;
    }

    // Media queries rules as classes
    &.ui-header-sm {
        @include sm-devices-rules;
    }

    &.ui-header-xs {
        @include xs-devices-rules;
    }
}
