$icons: (
    sprite: (width: 118px, height: 97px, svgPath: $assets-path + '/images/sprite.symbol.svg'),
    icon-account: (width: 29px, height: 29px, backgroundX: -70px, backgroundY: 0px),
    icon-alert: (width: 17px, height: 19px, backgroundX: -61px, backgroundY: -46px),
    icon-apps: (width: 19px, height: 19px, backgroundX: -80px, backgroundY: -72px),
    icon-close: (width: 19px, height: 19px, backgroundX: -99px, backgroundY: 0px),
    icon-config: (width: 19px, height: 18px, backgroundX: -78px, backgroundY: -46px),
    icon-go-left: (width: 15px, height: 26px, backgroundX: 0px, backgroundY: -46px),
    icon-go-right: (width: 11px, height: 18px, backgroundX: -99px, backgroundY: -37px),
    icon-help: (width: 18px, height: 18px, backgroundX: -99px, backgroundY: -19px),
    icon-home: (width: 25px, height: 20px, backgroundX: -15px, backgroundY: -46px),
    icon-important-alert: (width: 21px, height: 21px, backgroundX: -23px, backgroundY: -72px),
    icon-logout: (width: 17px, height: 19px, backgroundX: -44px, backgroundY: -72px),
    icon-search: (width: 19px, height: 19px, backgroundX: -61px, backgroundY: -72px),
    icon-star: (width: 21px, height: 19px, backgroundX: -40px, backgroundY: -46px),
    icon-trash: (width: 23px, height: 25px, backgroundX: 0px, backgroundY: -72px),
    logo-mambo: (width: 44px, height: 11px, backgroundX: 0px, backgroundY: -35px),
    logo-mambo_home: (width: 70px, height: 35px, backgroundX: 0px, backgroundY: 0px),
);