$icons: (
    sprite: (width: 116px, height: 112px, svgPath: $assets-path + '/images/sprite.symbol.svg'),
    icon-account: (width: 29px, height: 29px, backgroundX: -70px, backgroundY: 0px),
    icon-alert: (width: 17px, height: 19px, backgroundX: -46px, backgroundY: -72px),
    icon-apps: (width: 19px, height: 19px, backgroundX: -38px, backgroundY: -93px),
    icon-arrow-left: (width: 15px, height: 26px, backgroundX: 0px, backgroundY: -46px),
    icon-arrow-right: (width: 11px, height: 18px, backgroundX: -99px, backgroundY: -19px),
    icon-call: (width: 18px, height: 18px, backgroundX: -57px, backgroundY: -93px),
    icon-close: (width: 19px, height: 19px, backgroundX: -19px, backgroundY: -93px),
    icon-config: (width: 19px, height: 18px, backgroundX: -63px, backgroundY: -72px),
    icon-edit: (width: 25px, height: 21px, backgroundX: 0px, backgroundY: -72px),
    icon-help: (width: 18px, height: 18px, backgroundX: -75px, backgroundY: -93px),
    icon-home: (width: 25px, height: 20px, backgroundX: -38px, backgroundY: -46px),
    icon-important-alert: (width: 21px, height: 21px, backgroundX: -25px, backgroundY: -72px),
    icon-logout: (width: 17px, height: 19px, backgroundX: -99px, backgroundY: 0px),
    icon-mail: (width: 19px, height: 15px, backgroundX: -70px, backgroundY: -29px),
    icon-search: (width: 19px, height: 19px, backgroundX: 0px, backgroundY: -93px),
    icon-star: (width: 21px, height: 19px, backgroundX: -63px, backgroundY: -46px),
    icon-trash: (width: 23px, height: 25px, backgroundX: -15px, backgroundY: -46px),
    logo-mambo: (width: 44px, height: 11px, backgroundX: 0px, backgroundY: -35px),
    logo-mambo_home: (width: 70px, height: 35px, backgroundX: 0px, backgroundY: 0px),
);