$icons: (
    sprite: (width: 99px, height: 65px, svgPath:  $assets-path + '/images/sprite.symbol.svg'),
    icon-account: (width: 29px, height: 29px, backgroundX: -70px, backgroundY: 0px),
    icon-alert: (width: 17px, height: 19px, backgroundX: -21px, backgroundY: -46px),
    icon-apps: (width: 19px, height: 19px, backgroundX: -38px, backgroundY: -46px),
    icon-star: (width: 21px, height: 19px, backgroundX: 0px, backgroundY: -46px),
    logo-mambo: (width: 44px, height: 11px, backgroundX: 0px, backgroundY: -35px),
    logo-mambo_home: (width: 70px, height: 35px, backgroundX: 0px, backgroundY: 0px),
);