//# Responsive utilities
// hide elements depending on grid breakpoints
@each $bp in map-keys($grid-breakpoints) {
  .hidden-#{$bp}-up {
    @include media-breakpoint-up($bp) {
      display: none !important;
    }
  }
  .hidden-#{$bp}-down {
    @include media-breakpoint-down($bp) {
      display: none !important;
    }
  }
}
// responsive text alignment
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    .text-#{$breakpoint}-left   { text-align: left !important; }
    .text-#{$breakpoint}-right  { text-align: right !important; }
    .text-#{$breakpoint}-center { text-align: center !important; }
  }
}

//# Global utilities
// gutter options for columns
.no-gutter > [class*='col-'] {
    margin-right: 0;
    margin-left: 0;
}
.no-gutter-right > [class*='col-'] {
    margin-right: 0;
}
.no-gutter-left > [class*='col-'] {
    margin-left: 0;
}
// svg color variants
.svg-fill-none {
    fill: none!important;
}
.svg-fill-light {
    fill: $color-light;
}
.svg-fill-dark {
    fill: $color-dark;
}
.svg-stroke-none {
    stroke: none!important;
}
.svg-stroke-light {
    stroke: $color-light;
}
.svg-stroke-dark {
    stroke: $color-dark;
}
// opacity properties
.opacity_0 {
    opacity: 0;
}
.opacity_1 {
    opacity: 0.1;
}
.opacity_3 {
    opacity: 0.3;
}
.opacity_6 {
    opacity: 0.6;
}
// text alignment
.text-justify { 
    text-align: justify !important;
}
.text-nowrap { 
    white-space: nowrap !important;
}
.text-truncate { 
    @include text-truncate; 
}
// text transformation
.text-lowercase { 
    text-transform: lowercase !important;
}
.text-uppercase { 
    text-transform: uppercase !important;
}
.text-capitalize {
    text-transform: capitalize !important;
}
// text weights and italics
.font-weight-normal { 
    font-weight: normal;
}
.font-weight-bold {
    font-weight: bold;
}
.font-italic { 
    font-style: italic;
}
// contextual colors
.text-muted {
    color: $text-muted;
}
// separator line
.separator-line {
    @include separator-line;
}
.underline-short {
    position: relative;

    &:before {
        border-bottom: px2rem(2px) solid #fdb915;
        bottom: -0.6rem;
        content: "";
        display: inline-block;
        position: absolute;
        width: 3.6rem;
    }
}
// element alignment
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.flex-horizontal-center {
    display: flex;
    justify-content: center;
}
// element display
.display-none {
    display: none !important;
}
.display-flex {
    display: flex;
}
.display-obscure:before {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
// circular navigation element
.circles {
    position: relative;

    & .circles-group {
        display: flex;
        left: 2vw;
        position: absolute;
        top: -10vh;

        & .circle {
            background-color: $color-light;
            border-radius: 1rem;
            content: '';
            display: block;
            height: px2rem(6px);
            margin: 0 0.3rem;
            width: px2rem(6px);

            &.circle_active {
                background-color: $color-orange;
            }
        }
    }
}

// container widths
@each $name, $width in $container-max-widths {
    .width-container-#{$name} {
        width: $width
    }
}
// breakpoint widths
@each $name, $width in $grid-breakpoints {
    .width-breakpoint-#{$name} {
        width: $width
    }
}
