//# Responsive utilities
// hide elements depending on grid breakpoints
@each $bp in map-keys($grid-breakpoints) {
  .hidden-#{$bp}-up {
    @include media-breakpoint-up($bp) {
      display: none !important;
    }
  }
  .hidden-#{$bp}-down {
    @include media-breakpoint-down($bp) {
      display: none !important;
    }
  }
}
// responsive text alignment
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    .text-#{$breakpoint}-left   { text-align: left !important; }
    .text-#{$breakpoint}-right  { text-align: right !important; }
    .text-#{$breakpoint}-center { text-align: center !important; }
  }
}

//# Global utilities
// gutter options for columns
.no-gutter > [class*='col-'] {
    margin-right: 0;
    margin-left: 0;
}
.no-gutter-right > [class*='col-'] {
    margin-right: 0;
}
.no-gutter-left > [class*='col-'] {
    margin-left: 0;
}
// svg color variants
.svg-fill-none {
    fill: none!important;
}
.svg-fill-light {
    fill: $color-light;
}
.svg-fill-dark {
    fill: $color-dark;
}
.svg-stroke-none {
    stroke: none!important;
}
.svg-stroke-light {
    stroke: $color-light;
}
.svg-stroke-dark {
    stroke: $color-dark;
}
// opacity properties
.opacity_3 {
    opacity: 0.3;
}
.opacity_6 {
    opacity: 0.6;
}
// text alignment
.text-justify { 
    text-align: justify !important;
}
.text-nowrap { 
    white-space: nowrap !important;
}
.text-truncate { 
    @include text-truncate; 
}
// text transformation
.text-lowercase { 
    text-transform: lowercase !important;
}
.text-uppercase { 
    text-transform: uppercase !important;
}
.text-capitalize {
    text-transform: capitalize !important;
}
// text weights and italics
.font-weight-normal { 
    font-weight: normal;
}
.font-weight-bold {
    font-weight: bold;
}
.font-italic { 
    font-style: italic;
}
// contextual colors
.text-muted {
    color: $text-muted;
}
// element alignment
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.flex-horizontal-center {
    display: flex;
    justify-content: center;
}
