//# Responsive utilities
// hide elements depending on grid breakpoints
@each $bp in map-keys($grid-breakpoints) {
  .hidden-#{$bp}-up {
    @include media-breakpoint-up($bp) {
      display: none !important;
    }
  }
  .hidden-#{$bp}-down {
    @include media-breakpoint-down($bp) {
      display: none !important;
    }
  }
}
// responsive text alignment
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    .text-#{$breakpoint}-left   { text-align: left !important; }
    .text-#{$breakpoint}-right  { text-align: right !important; }
    .text-#{$breakpoint}-center { text-align: center !important; }
  }
}

//# Global utilities
// gutter options between columns
.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}
.no-gutter-right > [class*='col-'] {
    padding-right: 0;
}
.no-gutter-left > [class*='col-'] {
    padding-left: 0;
}
// svg color variants
.svg-fill-none {
    fill: none!important;
}
.svg-fill-light {
    fill: $color-light;
}
.svg-fill-dark {
    fill: $color-dark;
}
.svg-stroke-light {
    stroke: $color-light;
}
// opacity properties
.opacity_3 {
    opacity: 0.3;
}
.opacity_6 {
    opacity: 0.6;
}
