//# Vendor config variables
$enable-flex:               true;
$enable-grid-classes:       true;
$enable-transitions:        true;

//# Toolkit config variables
$baseFontSize:              16px !default;

//# Styles

// colors
$color-light:       #fff !default;
$color-dark:        #1e2123 !default;
$color-black:       #000 !default;
$color-grey:        #3a3c3f !default;
$color-grey-light:  #a5a6a7 !default;
$color-grey-dark:   #333 !default;
$color-orange:      #fdb915 !default;
$color-red:         #e90e36 !default;
$color-gold:        #b0810e !default;
